//VARIABLES
$color-marine-blue: hsl(213, 96%, 18%) ;
$color-light-blue: hsl(206, 94%, 87%);
$color-grey: rgb(190, 188, 188);
$color-magnolia: hsl(217, 100%, 97%);
$color-purplish-blue: hsl(243, 100%, 62%);

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: $color-light-blue;
    height: 100%;
}

.Main-div{
  background-color: white;
  padding:2rem;
  border-radius: 0.75rem;
  margin: 5rem auto;
  width:60%;
  display: flex;
  height: 500px;
  position: relative;
}

.side-img{
  height:45rem;
}

.sidebar li{
  list-style-type: none;
  display: flex;
  cursor: pointer;
}

.form-stepper-circle {
  position: relative;
  right: 2rem;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  line-height: 1.7rem;
  text-align: center;
  border-radius: 50%;
  color: white;
  border: 1px solid white;

& span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}


.form-stepper-active{
  background-color: $color-light-blue;
  color: $color-marine-blue !important;
  border: 1px solid $color-purplish-blue !important;
}

.card-img{
  width: 65%;
  margin-bottom: 2.5rem;
}

ol{
  position: absolute;
  top: 5rem;
  color: white;
  left: 5rem;
}

li{
  padding: 1rem 0;
}

p{
  margin: 0;
  font-size: 12px;
  color: $color-grey;
}

b{
  font-size: 11px;
}

.personalInfo-form{
  padding-left: 10rem;
}

h2,h3, label{
  color: $color-marine-blue;
  font-weight: 600;
}

h5{
  color: $color-marine-blue;
  font-weight: 550;
  margin-bottom: 0.5rem;
}


form{
  padding-top: 25px;
}

button.next{
  position: absolute;
    bottom: 4rem;
    right: 9rem;
    background-color: $color-marine-blue !important
}

.card{
  padding: 1rem 5rem 1rem 1rem;
  margin-top: 3rem;
  border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
&:hover{
        cursor: pointer;
        border-color: $color-marine-blue;
      }
}

.selected{
  border-color: $color-marine-blue ;
  background-color: $color-magnolia;
}

.Prev-btn{
  color: $color-marine-blue ;
  position: absolute;
  bottom: 4.5rem;
  font-size: 14px;

  
&:hover{
    cursor: pointer;
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  height: 1.25rem;
  width: calc(2rem + 0.75rem);
  border-radius: 2rem;
  top: 5.3rem;
  left: 20.5rem;

  /* Hide default HTML checkbox */
& input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-marine-blue ;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    bottom: 0.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /* Rounded sliders */
&.round {
    border-radius: 34px;

    &:before {
        border-radius: 50%;
      }
  }
}

input:checked + .slider{
  background-color: $color-marine-blue ;
}

input:focus + .slider {
  box-shadow: 0 0 1px $color-marine-blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}


.option1{
  
  position: absolute;
  bottom: 18rem;
right: 25rem;
font-weight: 200 !important
}

.option2{
  
  position: absolute;
  bottom: 18rem;
  right: 15rem;
  font-weight: 200 !important
}

.change-color{
  color: $color-marine-blue ;
  transition: .4s;
}

.d-none{
  display: none !important
}

.form-check{
  padding:1rem 0 0 1rem;
  border: 1px solid $color-marine-blue;
  margin: 1rem 0;
  border-radius: 0.25rem;
  background-color: $color-magnolia;
  width: 38rem;
  height: 6rem;

  & input{
    bottom: 0.5rem;
      position: relative;
  }

  & li{
    list-style-type: none;
    padding: 0;
  }

  &:hover{
    cursor: pointer;
    background-color: white;
  }
}

.price{
  position: relative;
    left: 30rem;
    bottom: 4rem;
    color: $color-purplish-blue;
}



.p-form{
  margin-bottom: 3.5rem;
}

.err-div{
  display: inline-block;
    position: absolute;
    right: 9rem;
    color: hsl(354, 84%, 57%)
}

.showPlan{
  height: 5rem;

  & .price{
    color: $color-marine-blue;
    font-weight: bold;
  }
}

.align-div{
  background-color: hsl(231, 100%, 99%);
  height: 5rem;
  display: flex;
}

.timePeriod{
  position: relative;
    left: 0.5rem;
    top: 1rem;
    color: $color-marine-blue;
    font-weight: bold;
}

hr{
  margin: 1rem;
}

.change{
  position: relative;
   bottom: 2rem;
    text-decoration: underline;
    color: $color-grey;
}

.addPrice{
  position: relative;
  left: 30rem;
  bottom: 1.2rem;
  color: $color-marine-blue;
}

.totalPrice{
  position: relative;
    left: 30rem;
    bottom: 1.5rem;
    color: $color-purplish-blue;
    font-weight: bold;
}

.thank-you{
  text-align: center;
  position: relative;
  top: 10rem;
}




